.name-control {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 0.15cm;
    padding: 5px;
    position: relative;
}
.email-control {
    margin-left: 600px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 0.15cm;
    padding: 5px;
    position: relative;
}
.linkd-control {
    margin-left: 735px;
    padding: 5px;
    border-radius: 0.15cm; 
}
.radio-inline {
    margin-left: 50px;
    padding: 20px;
}
