.edu-details {
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
}
.form-control {
    margin: 25px 50px 25px 40px;
    border-radius: 0.15cm;
}
.btn-primary {
    margin-left: 600px;
    padding: 5px 50px;
    margin-bottom: 10px;
}
.btn-danger {
    padding: 5px 40px;
}