.CS {
    margin-left: 50px;
    margin-top: 100px;
    font-size: 20px;
}
.CS-form-control {
    margin-top: 20px;
    margin-right: 30px;
    padding: 5px 5px;
    border-radius: 0.15cm;
}
.CS-add {
    margin-top: 25px; 
    margin-left: 100px;
    margin-bottom: 10px;
}